<h2>List of orders:</h2>

<table class="table table-striped">
  <thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Adress</th>
    <th scope="col">Products list</th>
    </tr>
  </thead>
  <tbody>
    <% @orders_list.each.with_index do |order, i| %> 
      <tr>
      <th scope="row"><%= i + 1 %></th>
      <td><%= order.name %></td>
      <td><%= order.phone %></td>
      <td><%= order.adress %></td>
      <td><%= order.products_list %></td>
      </tr>
    <% end %>
  </tbody>
</table>
