<!DOCTYPE>
<html>
	<body>
		<table class="table">
		<thead>
			<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Description</th>
			<th scope="col">Size</th>
		    <th scope="col">Amount</th>
			<th scope="col">Price</th>
			</tr>
		</thead>
		<tbody>
			<% total_price = 0 %>
			<% @items.each.with_index do |p, i| %> 
				<tr>
				<th scope="row"><%= i+1 %></th>
				<td><%= p[0].title %></td>
				<td><%= p[0].description %>  </td>
				<td><%= (p[0].size).to_i %> cm</td>
				<td><%= p[1] %></td>
				<td><%= (p[0].price).to_i %> RUB</td>
				<tr>
				<% total_price = total_price + (p[0].price.to_i * p[1].to_i) %>
			<% end %>
			<td colspan="4"></td>
			<td >
				<div style="float:right; width:25%;"><b>Total:</b></div>
			</td>
			<td><b><%= total_price %> RUB</b></td>
			</tr>
		</tbody>
		</table>

		<br />
			<h3>Confirmation of an order:</h3>
		<br />

		<form action="/order" method="POST" role="form">
			
			<input type="hidden" name="" value="<%= @orders_input %>">
			
			<div class="form-group">
				<label class="form-label">Name:</label>
				<input type="text" name="order[name]" placeholder="Your name" class="form-control" value="<%= @c.name %>" style="width: 400px;" maxlength="70">
			</div>
			<div class="form-group">
				<label class="form-label">Phone number</label>
				<input type="text" name="order[phone]" placeholder="Your phone" class="form-control" value="<%= @c.phone %>" style="width: 400px;" maxlength="12">
			</div>
			<div class="form-group">
				<label  class="form-label">Delivery adress</label>
				<textarea type="text" name="order[adress]" placeholder="Adress..." class="form-control" value="<%= @c.adress %>" style="width: 400px;" maxlength="200"></textarea>
			</div>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>

		<script>
		$(function() 
			{
				update_orders_input();
				update_orders_button();
				cart_get_number_of_product();
			});
		</script>
	</body>
</html>