<div class="row">
	<% @products.each do |p| %>
		<div class="col-md-3">	
			<div>
				<%= p.title %>
			</div>			
			<div>
				<img src="<%= p.path_to_image %>"  width="200" height="200"/>
			</div>
			<div>
				<%= p.description %>
			</div>		
			<div>
				Size: <%= p.size %> cm
			</div>
			<div>
				Price: <%= p.price %> rub
			</div>		
			<div>
				<button type="button" class="btn btn-success" onclick="add_to_cart(<%= p.id %>)">Add to cart</button>
				<span id="<%= p.id %>"></span>
				<button type="button" class="btn btn-sm" onclick="delete_product_in_table(<%= p.id %>)" >Remove</button>
			</div>
			<br />
		</div>	
	<% end %>
</div>
