<div class="row">

	<% @products.each do |p| %>
	<div class="col-md-3">
		<div>
			<%= p.title %>
		</div>

		<div>
			<img src="<%= p.path_to_image %>"  width="150" height"150"/>
		</div>
	
		<div>
			<%= p.description %>
		</div>
	

		<div>
			Size: <%= p.size %> cm
		</div>

		<div>
			Price: <%= p.price %> rub
		</div>
		
		<div>
			<button type="button" class="btn btn-success" onclick="add_to_cart(<%= p.id %>)">Add to cart</button>
	    </div>
	</div>
	<% end %>

</div>
