<div class="container">
  <div class="row">
    <div class="col-xs-4">
      Hawaiian pizza
      <br />
    <img src="/images/hawaiian.jpg" width="250" height="250">
     <br /> 
     <p /> 
      <% @products.each do |product|%>
        <% if product[:title] == 'Hawaiian'%>
          <p>Description: <%= product[:description]%></p>
          <p>Size: <%= product[:size].to_i%> cm</p>
          <p>Price: <%= product[:price]%> RUB</p>
        <% end %>
      <% end %>
      <br />   
      <button class="btn btn-primary">Add to cart</button>
      <br /> 
    </div>
    <div class="col-xs-4">
      Pepperoni pizza
      <br />
      <img src="/images/pepperoni.jpg" width="250" height="250">
      <br />
      <p /> 
      <% @products.each do |product|%>
        <% if product[:title] == 'Pepperoni'%>
          <p>Description: <%= product[:description]%></p>
          <p>Size: <%= product[:size].to_i%> cm</p>
          <p>Price: <%= product[:price]%> RUB</p>
        <% end %>
      <% end %>
      <br />
      <button class="btn btn-primary">Add to cart</button>
      <br />
    </div>
    <div class="col-xs-4">
      Vegeterian pizza
      <br />
      <img src="/images/veg.jpg" width="250" height="250">
      <br />
      <p /> 
      <% @products.each do |product|%>
        <% if product[:title] == 'Vegetarian'%>
          <p>Description: <%= product[:description]%></p>
          <p>Size: <%= product[:size].to_i%> cm</p>
          <p>Price: <%= product[:price]%> RUB</p>
        <% end %>
      <% end %>
      <br />
      <button class="btn btn-primary">Add to cart</button>
      <br />
    </div>
  </div>
</div>
